In [197]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/isaac/.local/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/isaac/.local/lib/python3.10/site-packages (from pandas) (1.26.2)
Requirement already satisfied: tzdata>=2022.1 in /home/isaac/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/isaac/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [198]:
import pandas as pd

In [199]:
source_dataset = 'dataset.csv'

In [200]:
df = pd.read_csv(source_dataset)

In [201]:
# Quantidade de cabeÃ§alhos
df.head()

,division_number,date_reported,date_occurred,area,area_name,reporting_district,part,crime_code,crime_description,modus_operandi,...,status,status_description,crime_code_1,crime_code_2,crime_code_3,crime_code_4,location,cross_street,latitude,longitude
0,10304468,2020-01-08,2020-01-08 22:30:00,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,0444 0913,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,2020-01-02,2020-01-01 03:30:00,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,0416 1822 1414,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,2020-04-14,2020-02-13 12:00:00,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,1501,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,2020-01-01,2020-01-01 17:30:00,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1402,...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,2020-01-01,2020-01-01 04:15:00,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [202]:
df['victim_id'] = range(1, len(df) + 1)
df['place_id'] = range(1, len(df) + 1)

In [203]:
# Identificar os tipos de dados
df.dtypes

division_number          int64
date_reported           object
date_occurred           object
area                     int64
area_name               object
reporting_district       int64
part                     int64
crime_code               int64
crime_description       object
modus_operandi          object
victim_age               int64
victim_sex              object
victim_descent          object
premise_code           float64
premise_description     object
weapon_code            float64
weapon_description      object
status                  object
status_description      object
crime_code_1           float64
crime_code_2           float64
crime_code_3           float64
crime_code_4           float64
location                object
cross_street            object
latitude               float64
longitude              float64
victim_id                int64
place_id                 int64
dtype: object

In [204]:
# transformar coluna object em data
df['date_reported'] = pd.to_datetime(df['date_reported'])
df['date_occurred'] = pd.to_datetime(df['date_occurred'])
df.rename(columns={'date_reported': 'reported_at', 'date_occurred': 'occurred_at'}, inplace=True)

# Tratando coluna de status
df.drop(labels=['status'], axis=1, inplace=True)
df.rename(columns={'status_description': 'status'}, inplace=True)
df.dtypes

division_number                 int64
reported_at            datetime64[ns]
occurred_at            datetime64[ns]
area                            int64
area_name                      object
reporting_district              int64
part                            int64
crime_code                      int64
crime_description              object
modus_operandi                 object
victim_age                      int64
victim_sex                     object
victim_descent                 object
premise_code                  float64
premise_description            object
weapon_code                   float64
weapon_description             object
status                         object
crime_code_1                  float64
crime_code_2                  float64
crime_code_3                  float64
crime_code_4                  float64
location                       object
cross_street                   object
latitude                      float64
longitude                     float64
victim_id                       int64
place_id                        int64
dtype: object

In [205]:
# Separando os cÃ³digos criminais e suas respectivas descriÃ§Ãµes.
df_crime_code = df.drop_duplicates(subset='crime_code')
df_crime_code = df_crime_code[['crime_code', 'crime_description']]

# Renomeando as colunas
df_crime_code.rename(columns={'crime_code': 'id'}, inplace=True)
df.rename(columns={'crime_code': 'crime_id', 'crime_code_1': 'crime_id_1', 'crime_code_2': 'crime_id_2', 'crime_code_3': 'crime_id_3', 'crime_code_4': 'crime_id_4'}, inplace=True)
df.drop(labels=['crime_description', 'division_number', 'modus_operandi'],  axis=1, inplace=True)


# Salvando o conteudo
df_crime_code.to_csv('crime.csv', sep=';', encoding='utf-8', index=False)
df_crime_code.head()

    id                                  crime_description
0  624                           BATTERY - SIMPLE ASSAULT
2  845          SEX OFFENDER REGISTRANT OUT OF COMPLIANCE
3  745           VANDALISM - MISDEAMEANOR ($399 OR UNDER)
4  740  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...
5  121                                     RAPE, FORCIBLE

In [206]:
# Tratando colunas de weapons
df_weapons = df.drop_duplicates(subset='weapon_code')
df_weapons = df_weapons[['weapon_code', 'weapon_description']]

# Renomeando as colunas
df_weapons.rename(columns={'weapon_code': 'id', 'weapon_description': 'name'}, inplace=True)
df.rename(columns={'weapon_code': 'weapon_id'}, inplace=True)
df.drop(labels=['weapon_description'], axis=1, inplace=True)

# Salvando o conteudo
df_weapons.to_csv('weapons.csv', sep=';', encoding='utf-8', index=False)
print(df_weapons)

           id                                            name
0       400.0  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)
1       500.0                     UNKNOWN WEAPON/OTHER WEAPON
2         NaN                                             NaN
10      306.0                              ROCK/THROWN OBJECT
11      511.0                                   VERBAL THREAT
...       ...                                             ...
110750  125.0                                   RELIC FIREARM
133468  121.0   HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE
173350  118.0                 UZI SEMIAUTOMATIC ASSAULT RIFLE
243536  117.0            UNK TYPE SEMIAUTOMATIC ASSAULT RIFLE
636010  124.0                M-14 SEMIAUTOMATIC ASSAULT RIFLE

[80 rows x 2 columns]

In [207]:
# Tratando as colunas de vitimas
df_victims = df[['victim_id', 'victim_age', 'victim_sex', 'victim_descent']]
df.drop(labels=['victim_age', 'victim_sex', 'victim_descent'], axis=1, inplace=True)

# Renomeando as colunas
df_victims.rename(columns={'victim_id': 'id', 'victim_age': 'age', 'victim_sex': 'sex', 'victim_descent': 'descent'}, inplace=True)

# Salvando o conteudo
df_victims.to_csv('victims.csv', sep=';', encoding='utf-8', index=False)

/tmp/ipykernel_74717/1352730771.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_victims.rename(columns={'victim_id': 'id', 'victim_age': 'age', 'victim_sex': 'sex', 'victim_descent': 'descent'}, inplace=True)

In [208]:
# Tratando as colunas de places
df['location'] = df['location'].str.replace(r'\s+', ' ', regex=True)
df_places = df[['place_id', 'area_name', 'location', 'latitude', 'longitude', 'premise_description']]
df_places.rename(columns={'place_id': 'id', 'area_name': 'square', 'location': 'address', 'premise_description': 'type'}, inplace=True)
df.drop(labels=['cross_street', 'reporting_district', 'part', 'area', 'latitude', 'longitude', 'location', 'area_name', 'premise_code', 'premise_description'],  axis=1, inplace=True)

# Salvando o conteudo
df_places.to_csv('places.csv', sep=';', encoding='utf-8', index=False)
df_places.head()

/tmp/ipykernel_74717/3030676329.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_places.rename(columns={'place_id': 'id', 'area_name': 'square', 'location': 'address', 'premise_description': 'type'}, inplace=True)

,id,square,address,latitude,longitude,type
0,1,Southwest,1100 W 39TH PL,34.0141,-118.2978,SINGLE FAMILY DWELLING
1,2,Central,700 S HILL ST,34.0459,-118.2545,SIDEWALK
2,3,Central,200 E 6TH ST,34.0448,-118.2474,POLICE FACILITY
3,4,N Hollywood,5400 CORTEEN PL,34.1685,-118.4019,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)"
4,5,Mission,14400 TITUS ST,34.2198,-118.4468,BEAUTY SUPPLY STORE

In [210]:
# Salvando dataset de crimes
df.to_csv('occurrences.csv', sep=';', encoding='utf-8', index=False)
df.head()

,reported_at,occurred_at,crime_id,weapon_id,status,crime_id_1,crime_id_2,crime_id_3,crime_id_4,victim_id,place_id
0,2020-01-08,2020-01-08 22:30:00,624,400.0,Adult Other,624.0,NaN,NaN,NaN,1,1
1,2020-01-02,2020-01-01 03:30:00,624,500.0,Invest Cont,624.0,NaN,NaN,NaN,2,2
2,2020-04-14,2020-02-13 12:00:00,845,NaN,Adult Arrest,845.0,NaN,NaN,NaN,3,3
3,2020-01-01,2020-01-01 17:30:00,745,NaN,Invest Cont,745.0,998.0,NaN,NaN,4,4
4,2020-01-01,2020-01-01 04:15:00,740,NaN,Invest Cont,740.0,NaN,NaN,NaN,5,5